#__next {
    height: 100%;
}
.login {
    &-container {
        height: 100%;
        background: url('/static/img/bg.jpg') 100%/cover no-repeat;
    }
    &-box {
        font-size: 12px;
        width: 340px;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 10px $c-e8;
        .cell {
            padding: 20px;
        }
    }
}