.ant-carousel .slick-slide {
    text-align: center;
    height: 250px;
    line-height: 250px;
    // background: #364d79;
    overflow: hidden;
  }
.container {
    .ant-carousel .slick-slide {
        a {
            display: block;
            height: 250px;
            img {
                margin: 0 auto;
                max-width: 1200px;
                height: 100%;
            }
        }
        .upload-text {
            color: #364d79;
        }
        .ant-upload.ant-upload-drag {
            width: 400px !important;
            background-color:transparent;
            margin: 0 auto;
        }
    }
    .section {
        input {
            width: 300px;
            margin-right: 10px;
        }
    }
}