.container {
    height: 100%;
    width: 100%;
    background: url('/dist/images/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .main {
        padding: 20px;
        min-height: 560px;
        iframe {
            min-height: 560px;
            width: 100%;
            height: 100%;
        }
    }
    #play-audio {
        display: none;
    }
    .progress {
        height: 20px;
        padding-left: 5px;
        &-bar {
            width: 380px;
            height: 4px;
            margin: 0 14px;
            position: relative;
            background-color: @c-ddd;
            border-radius: 5px;
            .line {
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                z-index: 9;
                border-radius: 5px;
                background-color: @footer-theme;
            }
            .point {
                position: absolute;
                left: 18%;
                top: -5px;
                height: 12px;
                width: 12px;
                z-index: 10;
                border-radius: 10px;
                background-color: @white;
                border: 1px solid @c-ccc;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 10px @c-666;
                }
                &::after {
                    content: '';
                    background-color: @footer-theme;
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -2px;
                    margin-top: -2px;
                    width: 4px;
                    height: 4px;
                }
            }
        }
    }
    .volume {
        margin: 0 5px 0 7px;
        .progress-bar {
            width: 100px;
            height: 4px;
            margin: 0 8px;
            position: relative;
            background-color: @c-ddd;
            border-radius: 5px;
            .line {
                width: 20%;
            }
            .point {
                display: none;
            }
            // &:hover {
            //     .point {
            //         display: block;
            //     }
            // }
        }
        .heart-icon {
            margin-left: 8px;
        }
        .order-icon {
            &:hover::after {
                color: @c-000;
            }
        }
    }
    
    .music-list {
        font-size: 12px;
        &-item {
            padding: 0 20px;
            line-height: 28px;
            position: relative;
            &:nth-child(odd) {
                background-color: @c-f8;
            }
            &:hover {
                background-color: @c-e8;
                .name,.singer i, .time, .icon-music-link::after {
                    color: @c-000 !important;
                }
            }
            &.active {
                background-color: @c-ccc;
                .name {
                    color: @c-000;
                }
            }
            &.play {
                &::before {
                    position: absolute;
                    left: -2px;
                    top: 0;
                    width: 0;
                    height: 0;
                    color: @primary;
                    font-size: 18px;
                    font-family: 'font-music';
                    content: "\e6a5";
                }
            }
            &.pause {
                &::before {
                    position: absolute;
                    left: 3px;
                    top: 9px;
                    width: 0;
                    height: 0;
                    content: "";
                    border-width: 5px 8px;
                    border-style: solid;
                    border-style: solid;
                    border-color: transparent transparent transparent @primary;
                }
            }
            .name {
                color: @c-333;
                margin-right: 5px;
            }
            .source {
                color: @c-666;
                max-width: 155px;
            }
        }
    }
    .music-box {
        position: absolute;
        width: 1020px;
        height: 700px;
        box-shadow: 0 0 20px @c-333;
        // border: 1px solid @primary;
        background-color: #F5F5F7;
        .header {
            height: 50px;
            padding: 0 15px;
            color: @white;
            background-color: @primary;
            .logo {
                line-height: 50px;
                min-width: 120px;
                .logo-title {
                    font-size: 16px;
                }
                .logo-icon {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 22px;
                    margin-right: 5px;
                    background-color: @white;
                    position: relative;
                    &:after {
                        // content: '';
                        font-size: 12px;
                        position: absolute;
                        top: 1px;
                        left: 4px;
                        height: 100%;
                        color: @primary;
                        width: 100%;
                    }
                }
            }
            .back-forward {
                margin-left: 60px;
                border: 1px solid #A82828;
                border-radius: 3px;
                overflow: hidden;
                .back-btn,
                .forward-btn {
                    color: @white;
                    padding: 3px 9px;
                    // margin-right: 5px;
                    font-weight: bold;
                    background-color: @primary;
                }
                .back-btn {
                    border-right: 1px solid #A82828;
                }
            }
            .search-box {
                border-radius: 30px;
                margin-left: 10px;
                overflow: hidden;
                width: 210px;
                padding-right: 10px;
                // background-color: #A82828;
                background-color: rgba(0, 0, 0, 0.15);
                input {
                    width: 210px;
                    height: 22px;
                    color: @white;
                    opacity: 0.6;
                    background-color: transparent;
                    &:focus {
                        opacity: 1;
                    }
                }
                .input-icon {
                    color: @c-ccc;
                }
            }
            .user-info {
                margin-left: 132px;
                margin-right: 15px;
                min-width: 280px;
                .avatar {
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    overflow: hidden;
                    img {
                        height: 100%;
                    }
                }
                .text {
                    padding: 0 12px;
                    color: @white;
                    opacity: 0.6;
                    cursor: pointer;
                    &.name {
                        padding: 0 12px 0 6px;
                        .name {
                            margin-right: 5px;
                        }
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &.icon {
                        font-size: 18px;
                        &::after {
                            color: @white;
                        }
                    }
                    &:hover {
                        opacity: 1;
                    }
                    &.vip-text {
                        padding: 0;
                    }
                }
            }
            .operation {
                border-left: 1px solid #A82828;
                padding-left: 10px;
                i {
                    font-size: 14px;
                    font-weight: 300;
                    opacity: 0.6;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                    &::after {
                        vertical-align: middle;
                        color: @white;
                    }
                    &.close-btn {
                        font-size: 18px;
                    }
                }
            }
        }
        .center {
            height: calc(100% - 100px);
            align-items: flex-start;
        }
        .aside {
            width: 200px;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            &-item {
                // padding: 10px 20px 0 10px;
                margin-top: 10px;
                cursor: pointer;
                &.unfold {
                    .list {
                        height: auto;
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                .title {
                    font-size: 12px;
                    padding: 10px 20px 0 10px;
                    color: @c-777;
                    margin-bottom: 9px;
                    .icon {
                        font-size: 16px;
                    }
                    &.active {
                        .icon {
                            transform: rotateZ(90deg);
                        }
                    }
                }
                .list {
                    height: 0px;
                    overflow: hidden;
                    transition: height 0.5s;
                    &.active {
                        height: auto;
                    }
                    &-item {
                        line-height: 32px;
                        padding: 0 10px 0 20px;
                        position: relative;
                        cursor: pointer;
                        &:hover {
                            .name,.icon::after {
                                color: @c-000;
                            }
                        }
                        &.active {
                            background-color: #E6E7EA;
                            .name,.icon::after {
                                color: @c-000;
                            }
                            &::before {
                                position: absolute;
                                content: '';
                                display: block;
                                left: 0;
                                height: 32px;
                                width: 3px;
                                z-index: 10;
                                background-color: @primary;
                            }
                        }
                        .icon {
                            margin-right: 5px;
                        }
                        .name {
                            font-size: 12px;
                            color: @c-666;
                        }
                    }
                }
            }
            .aside-list {
                overflow: hidden;
                overflow-y: auto;
                height: calc(100% - 56px);
                background-color: #F5F5F7;
                border-right: 1px solid @c-ddd;
            }
            .music-info {
                padding: 8px;
                box-sizing: border-box;
                border-top: 1px solid @c-ddd;
                border-right: 1px solid @c-ddd;
                background-color: #F5F5F7;
                position: relative;
                .mask {
                    position: absolute;
                    display: none;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    pointer-events: none;
                    .icon::after {
                        color: @c-ccc;
                        // line-height: 56px;
                        padding: 3px 4px;
                        position: absolute;
                        left: 8px;
                        top: 7px;
                        box-sizing: border-box;
                        font-size: 32px;
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
                &:hover {
                    .mask {
                        display: block;
                    }
                }
                .img {
                    width: 40px;
                    height: 40px;
                    // border: 1px solid @c-e8;
                    margin-right: 10px;
                }
                .text {
                    .top {
                        margin-bottom: 5px;
                    }
                    .name {
                        max-width: 100px;
                    }
                    span,
                    .singer {
                        color: @c-666;
                        max-width: 80px;
                    }
                    .star-icon,
                    .share-icon {
                        &::after {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        
        .footer {
            height: 50px;
            border-top: 1px solid @c-ddd;
            .play-btn {
                width: 200px;
                padding: 0 15px;
                box-sizing: border-box;
                i.play::after {
                    content: '\e6a5';
                }
                i::after {
                    transition: all 0.4s;
                }
                i:hover::after {
                    background-color: #A82828;
                }
            }
            .others {
                width: 180px;
                padding: 0 20px 0 10px;
                position: relative;
                i {
                    font-size: 12px;
                    color: @c-666;
                    &:hover {
                        color: @c-333;
                        border-color: @c-333;
                        &::after {
                            color: @c-333;
                            border-color: @c-333;
                        }
                    }
                    &.type,
                    &.word {
                        border: 1px solid @c-999;
                        border-radius: 2px;
                        padding: 2px;
                        &:hover {
                            color: @c-333;
                            border-color: @c-333;
                        }
                    }
                }
                .play-list {
                    position: absolute;
                    width: 578px;
                    height: 520px;
                    right: 0;
                    bottom: 36px;
                    background-color: @white;
                    border: 1px solid @c-ccc;
                    overflow: hidden;
                    display: none;
                    box-shadow: 0 0 10px @c-ccc;
                    .title {
                        padding: 6px 10px;
                        background-color: @c-f8;
                        .btn {
                            span {
                                padding: 6px 30px;
                                color: @c-999;
                                background-color: @c-f8;
                                border: 1px solid @c-ddd;
                                cursor: pointer;
                                &.active {
                                    background-color: @c-777;
                                    color: @white;
                                    &:hover {
                                        color: @c-e8;
                                        background-color: @c-777;
                                    }
                                }
                                &:hover {
                                    color: @c-666;
                                    background-color: @c-eee;
                                }
                            }
                            .list-btn {
                                border-radius: 5px 0 0 5px;
                            }
                            .history-btn {
                                border-radius: 0px 5px 5px 0;
                                border-left: 0;
                            }
                        }
                        .icon-close {
                            cursor: pointer;
                            &:hover {
                                color: @c-666;
                            }
                        }
                    }
                    
                    .list-header {
                        padding: 0 20px;
                        line-height: 30px;
                        color: @c-666;
                        .total, .operation i,
                        .operation i {
                            &:hover {
                                color: @c-333;
                                i,.num, &::after, &::before {
                                    color: @c-333;
                                }
                            }
                        }
                        .line {
                            color: @c-ccc;
                        }
                    }
                    .wrap {
                        overflow: hidden;
                        height: 450px;
                        overflow-y: auto;
                    }
                    .music-list {
                        position: relative;
                        &-item {
                            .source {
                                color: @c-666;
                                max-width: 260px;
                            }
                            .singer {
                                color: @c-999;
                            }
                            .time {
                                color: @c-666;
                            }
                        }
                    }
                }
            }
        }
    }
    .mini-music-box {
        min-height: 42px;
        width: 296px;
        top: 60px;
        align-self: flex-start;
        position: absolute;
        z-index: 100;
        box-shadow: 0 0 10px @c-666;
        display: none;
        background-color: @white;
        .wrap {
            z-index: 10;
            position: relative;
            background: #fff;
            box-shadow: 0 0 5px @c-999;
        }
        .left {
            .img {
                width: 42px;
                height: 42px;
                // border: 1px solid @c-e8;
                overflow: hidden;
                margin-right: 10px;
            }
            .name {
                width: 135px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: bottom;
            }
            .play-btn {
                position: absolute;
                left: 60px;
                top: 2px;
                height: 38px;
                width: 135px;
                z-index: 10;
                padding: 0 20px;
                box-sizing: border-box;
                background-color: @white;
                display: none;
                i::after {
                    background-color: @white;
                    color: @primary;
                }
                .icon-play::after {
                    padding: 4px;
                    border: 1px solid @primary;
                    border-radius: 30px;
                }
                i.play::after {
                    content: '\e6a5';
                }
            }
            // &:hover {
            //     .play-btn {
            //         opacity: 1;
            //         display: flex;
            //     }
            // }
        }
        .right {
            padding: 0 18px;
            position: relative;
            .star-icon,
            .share-icon {
                &::after {
                    font-size: 14px;
                }
            }
            span:hover {
                &::after {
                    color: @c-666;
                }
            }
            span::after {
                color: @c-999;
            }
            .volume {
                position: absolute;
                display: none;
                right: -2px;
                top: -45px;
                background-color: @white;
                // overflow: hidden;
                margin: 0;
                padding: 12px 7px;
                border-radius: 3px;
                box-shadow: 0 2px 5px @c-999;
                border: 1px solid @c-666;
                &::after {
                    content: '';
                    height: 10px;
                    width: 10px;
                    transform: rotateZ(-45deg);
                    background-color: @white;
                    border-bottom: 1px solid @c-666;
                    border-left: 1px solid @c-666;
                    position: absolute;
                    left: 50%;
                    top: 27px;
                    // margin-left: -8px;
                    // border-width: 8px 8px;
                    // border-style: solid;
                    // border-color: @white transparent transparent transparent;
                }
                .progress-bar {
                    margin: 0;
                    height: 8px;
                    background-color: @c-999;
                    // overflow: hidden;
                    border-radius: 8px;
                    .line {
                        height: 8px;
                        background-color: @c-666;
                        border-radius: 8px;
                    }
                    .point {
                        top: -3px;
                        &::after {
                            background-color: @c-666;
                        }
                    }
                }
            }
        }
        .more {
            position: absolute;
            width: 293px;
            top: 42px;
            left: 1px;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0px 3px @c-999;
            border: 1px solid @c-ccc;
            border-top: 0;
            line-height: 24px;
            display: none;
            max-height: 280px;
            overflow: hidden;
            overflow-y: auto;
            color: @c-666;
            .name {
                width: auto;
                color: @c-333;
                max-width: 120px;
            }
            .singer {
                max-width: 60px;
            }
            .line {
                margin: 0 4px;
            }
            // span,
            // .sing {
            //     color: @c-666;
            // }
        }
    }
}