* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    font-size: 12px;
    background-color: $c-f8;
}
.flexbox-h {
    display: flex;
    flex-direction: row;
}
.flexbox-v {
    display: flex;
    flex-direction: column;
}
.align-c {
    align-items: center;
}
.align-l {
    align-items: flex-start;
}
.align-r {
    align-items: flex-end;
}
.pad20 {
    padding: 20px;
}
.flex1 {
    flex: 1;
    width: 0;
}
.flex2 {
    flex: 2;
    width: 0;
}
.flex3 {
    flex: 3;
    width: 0;
}
.flex4 {
    flex: 4;
    width: 0;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}