.pdlr30 {
	padding: 20upx 30upx;
}
.u-card-wrap {
	background-color: $u-bg-color;
	padding: 1px;
}

.u-body-item {
	font-size: 32upx;
	color: #333;
	padding: 20upx 0;
}
	
.u-body-item image {
	width: 120upx;
	flex: 0 0 120upx;
	height: 120upx;
	border-radius: 8upx;
	margin-left: 12upx;
}
uni-tabbar .uni-tabbar__bd,
uni-tabbar .uni-tabbar~.uni-placeholder {
	height: 100upx;
}
uni-tabbar .uni-tabbar__icon {
	height: 48upx;
	width: 48upx;
}