$prefix: byt;
$primary: #ff9900;
$success: #00ff00;
$error: #ff0000;
$price: #ff0000;
$warning: #ffaa00;
$white: #ffffff;
$c-333: #333333;
$c-666: #666666;
$c-999: #999999;
$c-ccc: #cccccc;
$c-f8: #f8f8f8;
$c-e8: #e8e8e8;
$c-fff: #ffffff;