.home-container {
    background-color: @c-f8;
    .img {
        height: 260px;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }
    .banner {
        width: 100%;
        height: 260px;
        margin-bottom: 20px;
        box-sizing: border-box;
        overflow: hidden;

    }
}
