.article {
	margin-bottom: 20upx;
	&-banner {
		height: 550upx;
		position: relative;
		image.banner-img {
			width: 100%;
			height: 100%;
		}
		.banner-title {
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: left;
			padding: 20upx 30upx;
			line-height: 32upx;
			background-color: rgba(0,0,0,0.5);
			color: $white;
			width: 100%;
		}
	}
	&-list {
		min-height: 450upx;
		image {
			width: 100upx;
			height: 100upx;
		}
		.left {
			margin-right: 20upx;
			.title {
				font-size: 34upx;
				margin-bottom: 10upx;
			}
			.time {
				font-size: 22upx;
				color: $c-666;
			}
		}
	}
}
.uni-toast__content {
	font-size: 32upx;
}