@font-face {
    font-family: 'font-music';  /* project id 1984636 */
    src: url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.eot');
    src: url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.woff') format('woff'),
    url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1984636_hs0p0s4da1m.svg#font-music') format('svg');
  }
.icon-music {
    font-family: 'font-music';
    font-size: 18px;
    &-info::before {
        font-family: 'font-music';
        font-size: 14px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e622';
    }
    &-delete::before {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e60e';
    }
    &-link::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e6df';
    }
    &-replay::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e6e3';
    }
    &-FM::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        font-weight: bold;
        vertical-align: bottom;
        content: '\e624';
    }
    &-star::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e609';
    }
    &-setting::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e62a';
    }
    &-erphone::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e602';
    }
    &-list::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e674';
    }
    &-star-user::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e809';
    }
    &-share::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e778';
    }
    &-music::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e668';
    }
    &-play-list::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e634';
    }
    &-download::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e723';
    }
    &-minus::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e61b';
    }
    &-logo::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '';
    }
    &-close::after {
        font-family: 'font-music';
        font-size: 14px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e607';
    }
    &-friend::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e603';
    }
    &-edit::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e613';
    }
    &-volume::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e604';
    }
    &-volume.close::after {
        font-size: 18px;
        content: '\e645';
    }
    &-logo::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e62c';
    }
    &-love::after {
        font-family: 'font-music';
        font-size: 18px;
        cursor: pointer;
        color: @c-666;
        vertical-align: bottom;
        content: '\e8ab';
    }
    &-love-full::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @primary !important;
        cursor: pointer;
        vertical-align: bottom;
        content: '\e644';
    }
    &-radio::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e636';
    }
    &-loop::after {
        font-family: 'font-music';
        font-size: 22px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e60f';
    }
    &-loop-one::after {
        font-family: 'font-music';
        font-size: 22px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e610';
    }
    &-window::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e664';
    }
    &-star-plus::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e68e';
    }
    &-beckoning::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e70b';
    }
    &-left::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e77a';
    }
    &-right::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e666';
    }
    &-loop-random::after {
        font-family: 'font-music';
        font-size: 22px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e611';
    }
    &-rectangle::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e64f';
    }
    &-cloud::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e69a';
    }
    &-logo-icon::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e66c';
    }
    &-video::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        font-weight: bold;
        vertical-align: bottom;
        content: '\e612';
    }
    &-my-music::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        font-weight: 500;
        vertical-align: bottom;
        content: '\e730';
    }
    &-play-order::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e65f';
    }
    &-emoji::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e614';
    }
    &-play-right::after {
        font-family: 'font-music';
        font-size: 14px;
        color: @white;
        background-color: @footer-theme;
        border-radius: 32px;
        padding: 8px;
        vertical-align: bottom;
        content: '\e62e';
    }
    &-play-left::after {
        font-family: 'font-music';
        font-size: 14px;
        color: @white;
        background-color: @footer-theme;
        border-radius: 32px;
        padding: 8px;
        vertical-align: bottom;
        content: '\e62f';
    }
    &-msg::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e66b';
    }
    &-clothes::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e667';
    }
    &-drop-down::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e615';
    }
    &-play::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e6a5';
    }
    &-pause::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @white;
        background-color: @footer-theme;
        border-radius: 32px;
        padding: 8px;
        vertical-align: bottom;
        content: '\e6a4';
    }
    &-down::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e665';
    }
    &-min::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e70f';
    }
    &-max::after {
        font-family: 'font-music';
        font-size: 18px;
        color: @c-666;
        vertical-align: bottom;
        content: '\e725';
    }
}