$perfix: byt;
$primary: #ff9900;
$theme: $primary;
$default: #333;
$black: #000;
$gray: #ccc;
$white: #fff;
$success: rgb(54, 228, 19);
$warning: #f54040;
$error: $warning;

// color
$c-333: $default;
$c-666: #666;
$c-999: $gray;
$c-e8: #e8e8e8;
$c-f5: #f5f5f5;
$c-f8: #f8f8f8;
$border: $c-e8;