
<div id="asideTemp">
    <script type="text/html" id="asideTemp">
        {{each list $value fIndex}}
            <div class="aside-item {{$value.unfold ? 'unfold' : ''}}">
                <div class="title flexbox-h just-b js-toggle-class">
                    <p class="name">{{$value.name}}</p>
                    <span class="icon icon-music-{{$value.icon}}">{{!$value.unfold ? '>' : ''}}</span>
                </div>
                <ul class="list">
                    {{each $value.list item cIndex}}
                        <li class="list-item js-list-item flexbox-h {{fIndex === 0 && cIndex === 0 ? 'active': ''}}">
                            <span class="icon icon-music-{{item.icon}}"></span>
                            <span class="name">{{item.name}}</span>
                            <span class="icon flex-1 tr icon-music-{{item.rightIcon}}"></span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </script>
</div>

<div id="listTemp">
    <script type="text/html" id="listTemp">
        {{each list item index}}
            <li class="music-list-item flexbox-h jsut-b" data-id="{{item.id}}">
                <div class="sing-info flex-4 line-one">
                    <span class="name">{{item.name}}</span>
                    <span class="source">{{item.al.name}}</span>
                </div>
                {{if page}}
                    <span class="singer line-one flex-2">
                        {{each item.ar singer cindex}}
                            <i>{{singer.name + (cindex < item.ar.length - 1 ? '/' : '')}}</i>
                        {{/each}}
                    </span>
                    <span class="icon-music-link"></span>
                    <span class="time tr flex-1">{{item.time}}</span>
                {{/if}}
            </li>
        {{/each}}
    </script>
</div>
<!-- <div id="playTemp">
    <script type="text/html" id="playTemp">
        {{each list $value fIndex}}
            <div class="aside-item {{$value.unfold ? 'unfold' : ''}}">
                <div class="title flexbox-h just-b js-toggle-class">
                    <p class="name">{{$value.name}}</p>
                    <span class="icon icon-music-{{$value.icon}}">{{!$value.unfold ? '>' : ''}}</span>
                </div>
                <ul class="list">
                    {{each $value.list item cIndex}}
                        <li class="list-item js-list-item flexbox-h {{fIndex === 0 && cIndex === 0 ? 'active': ''}}">
                            <span class="icon icon-music-{{item.icon}}"></span>
                            <span class="name">{{item.name}}</span>
                            <span class="icon flex-1 tr icon-music-{{item.rightIcon}}"></span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </script>
</div> -->