@font-face {
    font-family: 'iconfont';  /* project id 1379413 */
    src: url('//at.alicdn.com/t/font_1379413_xmuvk9h994.eot');
    src: url('//at.alicdn.com/t/font_1379413_xmuvk9h994.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1379413_xmuvk9h994.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1379413_xmuvk9h994.woff') format('woff'),
    url('//at.alicdn.com/t/font_1379413_xmuvk9h994.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1379413_xmuvk9h994.svg#iconfont') format('svg');
  }
.icon-notice:after {
    content: '\e632';
    font-family: 'iconfont';
    font-size: 20px;
    vertical-align: bottom;
    color: @primary;
}
.icon-tag:after {
    content: '\e62c';
    font-family: 'iconfont';
    font-size: 16px;
    color: @primary;
}
.icon-cate:after {
    content: '\e62f';
    font-family: 'iconfont';
    font-size: 16px;
    color: @primary;
}
.icon-github:after {
    content: '\e691';
    font-family: 'iconfont';
    font-size: 16px;
    color: @primary;
}
.icon-email:after {
    content: '\e628';
    font-family: 'iconfont';
    font-size: 16px;
    color: @primary;
}
.icon-more:after {
    content: '\e61b';
    font-family: 'iconfont';
    font-size: 16px;
    color: @primary;
}
.icon-top:after {
    content: '\e619';
    font-family: 'iconfont';
    font-size: 16px;
}
.icon-msg:after {
    content: '\e6c0';
    font-family: 'iconfont';
    font-size: 18px;
    color: @primary;
}
.icon-success:after {
    content: '\e6b3';
    font-family: 'iconfont';
    font-size: 18px;
    color: @primary;
}
.icon-error:after {
    content: '\e626';
    font-family: 'iconfont';
    font-size: 18px;
    color: @primary;
}
.icon-warning:after {
    content: '\e618';
    font-family: 'iconfont';
    font-size: 18px;
    color: @primary;
}
