html,body, #__nuxt, #__layout {
//   height: 100%;
// Microsoft YaHei，宋体，楷体，隶书，幼圆
  font-size: 12px;
  font-family: '楷体';
  background-color: @c-f8;
}
i,span,em {
    font-style: normal;
}
img {
    display: inline-block;
}
li,ol,dl {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
.bgf {
    background-color: @white;
}
.pd20 {
    padding: 20px;
}
.pdlr20 {
    padding: 20px 0;
}
.pdtb20 {
    padding: 0 20px;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.bd-top {
  border-top: 1px solid @c-e8;
}
.flexbox-h {
  display: flex;
  flex-direction: row;
}
.flexbox-v {
  display: flex;
  flex-direction: column;
}
.just-s {
  justify-content: flex-start;
}
.just-c {
  justify-content: center;
}
.just-e {
  justify-content: flex-end;
}
.just-b {
  justify-content: space-between;
}
.just-a {
  justify-content: space-around;
}
.align-c {
  align-items: center;
}
.align-l {
  align-items: center;
}
.align-r {
  align-items: center;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
input:focus,
button:focus {
    outline: 1px dotted;
    outline: 5px auto @primary;
}
input:focus {
    outline: none;
}
input {
    height: 32px;
    width: 180px;
    padding-left: 10px;
    border: 1px solid @c-ccc;
}
button {
    height: 32px;
    width: 100px;
    background-color: @primary;
    color: @white;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    line-height: 32px;
}
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}

/*文字超出隐藏*/
/*文字超出隐藏*/
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ellipsisTwo{
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-clamp1,
.line-clamp2,
.line-clamp3,
.line-clamp4{overflow: hidden;text-overflow: ellipsis; display: -webkit-box;-webkit-box-orient: vertical;}
.line-clamp1{-webkit-line-clamp: 1;}
.line-clamp2{-webkit-line-clamp: 2;}
.line-clamp3{-webkit-line-clamp: 3;}
.line-clamp4{-webkit-line-clamp: 4;}
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;

}
// pre, code, kbd, samp {
//     display: block;
//     p {
//         display: inline;
//         padding: 0 !important;
//         line-height: 16px !important;
//         margin: 0 !important;
//     }
// }
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/

  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  background: @c-e8;

}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
//   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: @white;
}
// 加载中样式
.loading-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.loading-more-text {
    // width: 102px;
    font-size: 16px;
    color: @c-666;
    &::before {
        font-family: iconfont;
        content: '\e62f';
        color: @c-666;
        display: inline-block;
        font-size: 20px;
        margin-right: 10px;
        animation: rotate 1s infinite;
        @keyframes rotate {
            12.5% {
                transform: rotateZ(45deg);
            }
            25% {
                transform: rotateZ(90deg);
            }
            37.5% {
                transform: rotateZ(135deg);
            }
            50% {
                transform: rotateZ(180deg);
            }
            62.5% {
                transform: rotateZ(225deg);
            }
            75% {
                transform: rotateZ(270deg);
            }
            87.5% {
                transform: rotateZ(315deg);
            }
            100% {
                transform: rotateZ(360deg);
            }
        }
    }
    &.no-more&::before {
        display: none;
    }
}
.loading-more {
    margin-top: 20px;
}
.img {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

