.wrapper {
    :global {
      .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
        top: 3px;
      }
    }
  }
  .bf-container.read-only {
    .bf-controlbar {
        display: none;
    }
  }
  .bf-content {
      height: 500px;
  }
  .review-content-main .bf-content {
      height: 300px;
  }
  .comment .bf-content {
    height: 300px;
}